<div>
		<div class="modal-header bg-dark no-border">
            <h4 class="modal-title">Template</h4>
        </div>
        <div class="modal-body">
		<div ng-show="step === 1" class="col-xs-12 col-md-6 col-lg-4 placeholder" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
			<div class="thumbnail" style="padding: 0; padding-top: 2rem">
                    <button ng-click="selected.item = i" class="btn btn-default" style="border: 1px solid #000000; border-radius: 50%; font-size: 2rem">
                        <span class="fa fa-plus"></span>
                    </button>
                <div class="caption">
                    <p></p>{{template}}
                    <!--
					<h3>Value 1</h3>
					<p>...</p>
                    <p>
						<a href="#" class="btn btn-primary" role="button">Button</a> 
						<a href="#" class="btn btn-default" role="button">Button</a>
					</p>-->
                </div>
            </div>
                
        </div>
		<div ng-show="step === 2" class="col-xs-12">
			<form id="ExampleBootstrapValidationForm" method="post" action="target.php" class="form-horizontal bootstrap-validator-form" novalidate="novalidate">
							<fieldset>
								<legend>Not Empty validator</legend>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Title</label>
									<div class="col-lg-5">
										<input data-ng-model="title" type="text" class="form-control" name="title" data-bv-field="title">
										<i class="form-control-feedback" data-bv-field="title" style="display: none;"></i>
									<small data-bv-validator="notEmpty" class="help-block" style="display: none;">The username is required and can't be empty</small><small data-bv-validator="stringLength" class="help-block" style="display: none;">The username must be more than 6 and less than 30 characters long</small><small data-bv-validator="regexp" class="help-block" style="display: none;">The username can only consist of alphabetical, number, dot and underscore</small></div>
								</div>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">IP</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" name="ip" data-bv-field="title" placeholder="xxx.xxx.xxx.xxx">
									</div>
								</div>
								
								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Country</label>
									<div class="col-lg-5">
										<select class="form-control" name="country" data-bv-field="country">
											<option value="">-- Select a country --</option>
											<option value="fr">France</option>
											<option value="de">Germany</option>
											<option value="it">Italy</option>
											<option value="jp">Japan</option>
											<option value="ru">Russia</option>
											<option value="gb">United Kingdom</option>
											<option value="us">United State</option>
										</select><i class="form-control-feedback" data-bv-field="country" style="display: none;"></i>
									<small data-bv-validator="notEmpty" class="help-block" style="display: none;">The country is required and can't be empty</small></div>
								</div>

								<div class="form-group has-feedback">
									<div class="col-lg-5 col-lg-offset-3">
										<div class="checkbox">
											<input type="checkbox" name="acceptTerms" data-bv-field="acceptTerms"><i class="form-control-feedback" data-bv-field="acceptTerms" style="display: none; top: 0px;"></i> Accept the terms and policies
										</div>
									<small data-bv-validator="notEmpty" class="help-block" style="display: none;">You have to accept the terms and policies</small></div>
								</div>
							</fieldset>
<!--
							<fieldset>
								<legend>Regular expression based validators</legend>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Email address</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" name="email" data-bv-field="email"><i class="form-control-feedback" data-bv-field="email" style="display: none;"></i>
									<small data-bv-validator="notEmpty" class="help-block" style="display: none;">The email address is required and can't be empty</small><small data-bv-validator="emailAddress" class="help-block" style="display: none;">The input is not a valid email address</small></div>
								</div>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Website</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" name="website" placeholder="http://" data-bv-field="website"><i class="form-control-feedback" data-bv-field="website" style="display: none;"></i>
									<small data-bv-validator="uri" class="help-block" style="display: none;">The input is not a valid URL</small></div>
								</div>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Phone number</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" name="phoneNumber" data-bv-field="phoneNumber"><i class="form-control-feedback" data-bv-field="phoneNumber" style="display: none;"></i>
									<small data-bv-validator="digits" class="help-block" style="display: none;">The value can contain only digits</small></div>
								</div>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Hex color</label>
									<div class="col-lg-3">
										<input type="text" class="form-control" name="color" data-bv-field="color"><i class="form-control-feedback" data-bv-field="color" style="display: none;"></i>
									<small data-bv-validator="hexColor" class="help-block" style="display: none;">The input is not a valid hex color</small></div>
								</div>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">US zip code</label>
									<div class="col-lg-3">
										<input type="text" class="form-control" name="zipCode" data-bv-field="zipCode"><i class="form-control-feedback" data-bv-field="zipCode" style="display: none;"></i>
									<small data-bv-validator="zipCode" class="help-block" style="display: none;">The input is not a valid US zip code</small></div>
								</div>
							</fieldset>

							<fieldset>
								<legend>Identical validator</legend>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Password</label>
									<div class="col-lg-5">
										<input type="password" class="form-control" name="password" data-bv-field="password"><i class="form-control-feedback" data-bv-field="password" style="display: none;"></i>
									<small data-bv-validator="notEmpty" class="help-block" style="display: none;">The password is required and can't be empty</small><small data-bv-validator="identical" class="help-block" style="display: none;">The password and its confirm are not the same</small></div>
								</div>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Retype password</label>
									<div class="col-lg-5">
										<input type="password" class="form-control" name="confirmPassword" data-bv-field="confirmPassword"><i class="form-control-feedback" data-bv-field="confirmPassword" style="display: none;"></i>
									<small data-bv-validator="notEmpty" class="help-block" style="display: none;">The confirm password is required and can't be empty</small><small data-bv-validator="identical" class="help-block" style="display: none;">The password and its confirm are not the same</small></div>
								</div>
							</fieldset>
-->
							<fieldset>
								<legend>Other validators</legend>

								<div class="form-group has-feedback">
									<label class="col-lg-3 control-label">Ages</label>
									<div class="col-lg-3">
										<input type="text" class="form-control" name="ages" data-bv-field="ages"><i class="form-control-feedback" data-bv-field="ages" style="display: none;"></i>
									<small data-bv-validator="lessThan" class="help-block" style="display: none;">The ages has to be less than 100</small><small data-bv-validator="greaterThan" class="help-block" style="display: none;">The ages has to be greater than or equals to 10</small></div>
								</div>
							</fieldset>

							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
                
        </div>
            <!--<ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>-->
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-show="step === 2">Submit</button>
			<button class="btn btn-primary" ng-click="step = 2" ng-show="step < 2">Next</button>
			<button class="btn btn-primary pull-left" ng-click="step = 2" ng-show="step > 1">Back</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
</div>