
<div>
	<div class="row" ng-controller="sidebarCtrl as sidebar">
	Hello: {{sidebar.demo}}
		<div class="col-md-12">
			<button data-ng-click="open('lg')" class="btn btn-default"
				id="search-btn">Reservation</button>
		</div>
	</div>
	<hr>
	<div class="api-sidebar affix-top">
		<ul class="nav api-sidenav">
			<ul class="nav active">
				<li><a href="">Dashboard</a></li>
				<li><a href="">My Setups(7)</a></li>
				<li><a href="">All Setups(120)</a></li>
				<li><a href="">Achives (1230)</a></li>
			</ul>
		</ul>
	</div>
</div>
