<div>
    <div class="container" ng-controller="navCtrl">
        <div class="col-sm-12 main">

            <div class="page-heading">
					<span class="pull-left">

					<button data-ng-click="open('lg')" class="btn btn-default"
                            id="search-btn">Reservation</button>
                        <!--<h1>DASHBOARD</h1>-->
					</span>
					<span class="pull-right">

                        <ul class="nav nav-pills">
                            <li class=""><a href="#">Dashboard</a></li>
                            <li><a href="#">My Setups(7)</a></li>
                            <li><a href="#">All Setups(120)</a></li>
                            <li><a href="#">Achives (1230)</a></li>
                        </ul>

					</span>
            </div>
        </div>
    </div>
</div>


