//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black =                  #000
$gray-darker =            #222
$gray-dark =              #333
$gray =                   #555
$gray-light =             #999
$gray-lighter =           #eee
$white =                  #fff


// Accent colors
// -------------------------
$blue =                   #049cdb
$blue-dark =              #0064cd
$green =                  #46a546
$red =                    #9d261d
$yellow =                 #ffc40d
$orange =                 #f89406
$pink =                   #6f5499
$pink-dark =              #563d7c

// Brand colors
// -------------------------
$brand-primary =         #428bca
$brand-success =         #5cb85c
$brand-warning =         #f0ad4e
$brand-danger =          #d9534f
$brand-info =            #5bc0de
$brand-info =            #5bc0de
$brand-action =          #6f5499


// Scaffolding
// -------------------------
$body-bg =               $white
$page-content-bg =       #f5f5f5
$text-color =            $gray-dark


// Links
// -------------------------
$link-color =            $brand-primary
$link-hover-color =      $blue-dark