<h3>Add user</h3>

<form id="FormExample1" method="post" class="form-horizontal bootstrap-validator-form" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" novalidate="novalidate">
    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Full name</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="firstName" placeholder="First name" required="" data-bv-notempty-message="The first name is required and cannot be empty" data-bv-field="firstName"><i class="form-control-feedback" data-bv-field="firstName" style="display: none;"></i>
            <small data-bv-validator="notEmpty" class="help-block" style="display: none;">The first name is required and cannot be empty</small>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="lastName" placeholder="Last name" required="" data-bv-notempty-message="The last name is required and cannot be empty" data-bv-field="lastName"><i class="form-control-feedback" data-bv-field="lastName" style="display: none;"></i>
            <small data-bv-validator="notEmpty" class="help-block" style="display: none;">The last name is required and cannot be empty</small>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Username</label>
        <div class="col-lg-5">
            <input data-ng-model="username" type="text" class="form-control" name="username" data-bv-message="The username is not valid" required="" data-bv-notempty-message="The username is required and cannot be empty" pattern="[a-zA-Z0-9_\.]+" data-bv-regexp-message="The username can only consist of alphabetical, number, dot and underscore" data-bv-stringlength="true" data-bv-stringlength-min="6" data-bv-stringlength-max="30" data-bv-stringlength-message="The username must be more than 6 and less than 30 characters long" data-bv-different="true" data-bv-different-field="password" data-bv-different-message="The username and password cannot be the same as each other" data-bv-remote="true" data-bv-remote-url="remote.php" data-bv-remote-message="The username is not available" data-bv-field="username"><i class="form-control-feedback" data-bv-field="username" style="display: none;"></i>
            <small data-bv-validator="different" class="help-block" style="display: none;">The username and password cannot be the same as each other</small><small data-bv-validator="notEmpty" class="help-block" style="display: none;">The username is required and cannot be empty</small><small data-bv-validator="regexp" class="help-block" style="display: none;">The username can only consist of alphabetical, number, dot and underscore</small><small data-bv-validator="remote" class="help-block" style="display: none;">The username is not available</small><small data-bv-validator="stringLength" class="help-block" style="display: none;">The username must be more than 6 and less than 30 characters long</small>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Email address</label>
        <div class="col-lg-5">
            <input data-ng-model="user.email" class="form-control" name="email" type="email" data-bv-emailaddress-message="The input is not a valid email address" data-bv-field="email"><i class="form-control-feedback" data-bv-field="email" style="display: none;"></i>
            <small data-bv-validator="emailAddress" class="help-block" style="display: none;">The input is not a valid email address</small>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Password</label>
        <div class="col-lg-5">
            <input type="password" class="form-control" name="password" required="" data-bv-notempty-message="The password is required and cannot be empty" data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="The password and its confirm are not the same" data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" data-bv-field="password"><i class="form-control-feedback" data-bv-field="password" style="display: none;"></i>
            <small data-bv-validator="different" class="help-block" style="display: none;">The password cannot be the same as username</small><small data-bv-validator="identical" class="help-block" style="display: none;">The password and its confirm are not the same</small><small data-bv-validator="notEmpty" class="help-block" style="display: none;">The password is required and cannot be empty</small>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Retype password</label>
        <div class="col-lg-5">
            <input type="password" class="form-control" name="confirmPassword" required="" data-bv-notempty-message="The confirm password is required and cannot be empty" data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="The password and its confirm are not the same" data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" data-bv-field="confirmPassword"><i class="form-control-feedback" data-bv-field="confirmPassword" style="display: none;"></i>
            <small data-bv-validator="different" class="help-block" style="display: none;">The password cannot be the same as username</small><small data-bv-validator="identical" class="help-block" style="display: none;">The password and its confirm are not the same</small><small data-bv-validator="notEmpty" class="help-block" style="display: none;">The confirm password is required and cannot be empty</small>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Gender</label>
        <div class="col-lg-5">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="male" required="" data-bv-notempty-message="The gender is required" data-bv-field="gender">Male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="female" data-bv-field="gender">Female
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="other" data-bv-field="gender"><i class="form-control-feedback" data-bv-field="gender" style="display: none;"></i> Other
                </label>
            </div>
            <small data-bv-validator="notEmpty" class="help-block" style="display: none;">The gender is required</small>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Birthday</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="birthday" data-bv-date="false" data-bv-date-format="YYYY/MM/DD" data-bv-date-message="The birthday is not valid" data-bv-field="birthday"><i class="form-control-feedback" data-bv-field="birthday" style="display: none;"></i> (YYYY/MM/DD)
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Languages</label>
        <div class="col-lg-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="languages[]" value="english" data-bv-message="Please specify at least one language you can speak" data-bv-field="languages[]">English
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="languages[]" value="french" data-bv-field="languages[]">French
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="languages[]" value="german" required="" data-bv-field="languages[]">German
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="languages[]" value="russian" data-bv-field="languages[]">Russian
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="languages[]" value="other" data-bv-field="languages[]"><i class="form-control-feedback" data-bv-field="languages[]" style="display: none;"></i> Other
                </label>
            </div>
            <small data-bv-validator="notEmpty" class="help-block" style="display: none;">Please specify at least one language you can speak</small>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-lg-3 control-label">Programming Languages</label>
        <div class="col-lg-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="net" data-bv-choice="true" data-bv-choice-min="2" data-bv-choice-max="4" data-bv-choice-message="Please choose 2 - 4 programming languages you are good at" data-bv-field="programs[]">.Net
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="java" data-bv-field="programs[]">Java
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="c" data-bv-field="programs[]">C/C++
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="php" data-bv-field="programs[]">PHP
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="perl" data-bv-field="programs[]">Perl
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="ruby" data-bv-field="programs[]">Ruby
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="python" data-bv-field="programs[]">Python
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="programs[]" value="javascript" data-bv-field="programs[]"><i class="form-control-feedback" data-bv-field="programs[]" style="display: none;"></i> Javascript
                </label>
            </div>
            <small data-bv-validator="choice" class="help-block" style="display: none;">Please choose 2 - 4 programming languages you are good at</small>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
            <button ng-click="save()" type="submit" class="btn btn-primary">Save</button>
			<button ng-click="clear()" class="btn btn-danger">Clear</button>
        </div>
    </div>
</form>

