<style>
    /*.navbar-nav, .pagination {*/
        /*cursor: pointer;*/
    /*}*/

	.navbar-default {

	}
	
    /*.navbar {*/
        /*border: 0px;*/
        /*margin-bottom: 0;*/
    /*}*/

    /*.navbar-nav > li > a, .navbar .navbar-brand {*/
        /*color: white;*/
        /*text-shadow: 0 1px 0 #092c66;*/
    /*}*/

    /*.navbar .navbar-brand {*/
        /*font-weight: bold;*/
    /*}*/
    .oppia-logo {
        height: 32px;
        margin-top: -10px;
        margin-bottom: -5px;
    }
    /*.navbar .navbar-brand:hover,*/
    /*.navbar .navbar-brand:focus {*/
        /*color: white;*/
        /*text-shadow: 0 1px 2px #000;*/
    /*}*/

    .navbar-brand sup {
        font-size: .6em;
    }

    /*.navbar-default .navbar-nav > li > a:hover,*/
    /*.navbar-default .navbar-nav > li > a:focus {*/
        /*background: rgb(10, 48, 106);*/
        /*color: white;*/
    /*}*/

    /*.navbar-nav > li.active > a, .navbar-nav > li.active > a:hover,*/
    /*.navbar-nav > li.active > a, .navbar-nav > li.active > a:focus {*/
        /*color: white;*/
        /*background: rgb(2, 38, 86);*/
    /*}*/




    /*.navbar-default .navbar-container {*/

        /*background: #092c66;*/
        /*background: #18447E;*/
        /*border-bottom: 1pt solid #2f2f3f;*/
        /*box-shadow: 0 1px 5px rgba(12,12,24, .3);*/
    /*}*/

    /*.navbar-default .dropdown-menu {*/
        /*background: #18447E;*/
    /*}*/

    /*.navbar-default .navbar-nav > li > a,*/
    /*.navbar-default .navbar-nav > li > a:hover,*/
    /*.navbar-default .navbar-nav .open > a:hover,*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a,*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {*/
        /*color: white;*/
    /*}*/

    /*.navbar-default .navbar-nav > li > a:hover,*/
    /*.navbar-default .navbar-nav > li > a:focus,*/
    /*.navbar-default .navbar-nav .open > a:hover,*/
    /*.navbar-default .navbar-nav .open > a:focus,*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {*/
        /*background: rgb(10, 48, 106);*/
    /*}*/

    /*.navbar-default .navbar-nav > .open > a,*/
    /*.navbar-default .navbar-nav > .open > a:focus,*/
    /*.navbar-default .navbar-nav > .active > a,*/
    /*.navbar-default .navbar-nav > .active > a:hover,*/
    /*.navbar-default .navbar-nav > .active > a:focus {*/
        /*background: rgb(10, 48, 106);*/
        /*color: white;*/
    /*}*/

	
	.navbar-default .navbar-nav > li > a {
		color: #777;
		font-weight: bold;
		}

    .searchbox{
        position: relative;
    }

    .searchbox input[type="search"] {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        width: 230px;
        padding: 3px 6px;
        font-size: 0.85em;
        -webkit-appearance: none;
        border: none;
        background-color: #ececec;
        padding-left: 27px;
    }

    .searchbox .icon{
        position: absolute;
        padding: 0.7rem;
    }


    /* Show the navbar submenu dropdowns on-hover rather than on-click, if the*/
       /*screen size is large enough. */
    /*@media (min-width: 768px) {*/
        /*.nav .dropdown:hover > .dropdown-menu {*/
            /*display: block;*/
        /*}*/
        /*.nav .dropdown:hover > .dropdown-menu > li > a {*/
            /*color: white;*/
        /*}*/
        /*.nav .dropdown:hover > .dropdown-menu > li > a:hover {*/
            /*background: rgb(10, 48, 106);*/
            /*color: white;*/
        /*}*/
    /*}*/

</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-container">
        <div class="container">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button><div class="navbar-header">

            <a class="navbar-brand" href="/">
                <!--<img src="assets/al-logo-white.png" class="oppia-logo">--><i class="fa fa-cloud"></i>Lap To Cloud<sup>beta</sup>
            </a>
            <!--<a class="navbar-brand" ><i class="fa fa-navicon"></i></a>-->
        </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="/gallery">Dashboard</a>
                    </li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" > Project <span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li> <a href="/about">Task List</a>
                            </li>
                            <li> <a href="/site_guidelines">Define New Task</a>
                            </li>
                        </ul>
                    </li>
                    <li> <a href="#/admin">Admin</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left searchbox" role="form">
                    <div class="form-group">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" placeholder="Search the site ..." class="form-control">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-user"></i> hmchung92</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><i class="fa fa-cog"></i>  <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="glyphicon glyphicon-log-out"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>