.navbar.navbar-top
  border-bottom 1px solid #999
  background none repeat scroll 0% 0% #FFF

  .searchbox
    .icon
      position absolute
      padding 0.7rem
    input[type="search"]
      width 430px
      padding 3px 6px 3px 27px
